#Unit 8 심사문제

표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다.<br> 국어는 90점 이상, 영어는 80점 초과, 수학은 85점 초과, 과학은 80점 이상일 때 합격이라고 정했습니다(한 과목이라도 조건에 만족하지 않으면 불합격).<br> 다음 소스 코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br>

In [1]:
국어, 영어, 수학, 과학 = map(int, input().split())
print(국어>=90 and 영어>80 and 수학>85 and 과학>=80)

90 81 86 80
True

In [2]:
국어, 영어, 수학, 과학 = map(int, input().split())
print(국어>=90 and 영어>80 and 수학>85 and 과학>=80)

90 80 85 80
False

# Unit 9 심사문제

다음 소스 코드를 완성하여 실행 결과대로 문자열이 출력되게 만드세요.

In [3]:
s = ''''Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.'''

print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

# Unit 10 심사문제

표준 입력으로 정수가 입력됩니다.<br> range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br>

In [1]:
z = int(input())
y = tuple(range(-10, 10, z))
print(y)

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [2]:
z = int(input())
y = tuple(range(-10, 10, z))
print(y)

3
(-10, -7, -4, -1, 2, 5, 8)

#Unit 11 심사문제

## 11-1
표준 입력으로 숫자 또는 문자열 여러 개가 입력되어 리스트 x에 저장됩니다(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음).<br> 다음 소스 코드를 완성하여 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.<br>

In [8]:
x = input().split()
del x[-5:]
print(tuple(x))

1 2 3 4 5 6 7 8 9 10
('1', '2', '3', '4', '5')

In [9]:
x = input().split()
del x[-5:]
print(tuple(x))

oven bat pony total leak wreck curl crop space navy loss knee
('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl')

## 11-2

표준 입력으로 문자열 두 개가 각 줄에 입력됩니다(문자열의 길이는 정해져 있지 않음).<br> 첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br> 연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다.<br> 그리고 0은 짝수로 처리합니다.<br>

In [10]:
a = input()
b = input()
print(a[1::2]+b[::2])

python
python
yhnpto

In [11]:
a = input()
b = input()
print(a[1::2]+b[::2])

apple
strawberry
plsrwer

# Unit 12 심사문제

표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다.<br>입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요.<br> input().split()의 결과를 변수 한 개에 저장하면 리스트로 저장됩니다.<br>

In [6]:
a = input().split()
b = map(float, input().split())
c = dict(zip(list(a), list(b)))
print(c)

health health_regen mana mana_regen
575.6 1.7 338.8 1.63
{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

In [7]:
a = input().split()
b = map(float, input().split())
c = dict(zip(list(a), list(b)))
print(c)

health mana melee attack_speed magic_resistance
573.6 308.8 600 0.625 35.7
{'health': 573.6, 'mana': 308.8, 'melee': 600.0, 'attack_speed': 0.625, 'magic_resistance': 35.7}

# Unit 13 심사문제

표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다.<br> Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다.<br> 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br>

In [4]:
a = int(input())
b = input()
if b == 'Cash3000' :
  a -= 3000
if b == 'Cash5000' :
  a -= 5000
print(a)

27000
Cash3000
24000

In [5]:
a = int(input())
b = input()
if b == 'Cash3000' :
  a -= 3000
if b == 'Cash5000' :
  a -= 5000
print(a)

72000
Cash5000
67000

# Unit 14 심사문제

표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다.<br> 여기서 네 과목의 평균 점수가 80점 이상일 때 합격이라고 정했습니다.<br> 평균 점수에 따라 '합격', '불합격'을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br> 단, 점수는 0점부터 100점까지만 입력받을 수 있으며 범위를 벗어났다면 '잘못된 점수'를 출력하고 합격, 불합격 여부는 출력하지 않아야 합니다.<br>

In [1]:
국, 영, 수, 과 = map(int, input().split())
if 0<= 국 <=100 and 0<= 영 <=100 and 0<= 수 <=100 and 0<= 과 <=100 :
  if (sum([국,영,수,과]) / 4) >= 80 :
    print('합격') 
  else :
    print('불합격')
else :
  print('잘못된 점수')

89 72 93 82
합격

In [2]:
국, 영, 수, 과 = map(int, input().split())
if 0<= 국 <=100 and 0<= 영 <=100 and 0<= 수 <=100 and 0<= 과 <=100 :
  if (sum([국,영,수,과]) / 4) >= 80 :
    print('합격') 
  else :
    print('불합격')
else :
  print('잘못된 점수')

100 79 68 71
불합격

In [3]:
국, 영, 수, 과 = map(int, input().split())
if 0<= 국 <=100 and 0<= 영 <=100 and 0<= 수 <=100 and 0<= 과 <=100 :
  if (sum([국,영,수,과]) / 4) >= 80 :
    print('합격') 
  else :
    print('불합격')
else :
  print('잘못된 점수')

99 85 101 90
잘못된 점수