# Unit 13. if 조건문

## 13.1 if 조건문

In [3]:
x = 10
if x == 10:
  print('It is 10.')

It is 10.

In [8]:
x = 9
if x:            # x가 0이 아니면 참
  print('It is 10')

It is 10

In [9]:
# pass는 일단 생략을 뜻함

## 13.2 들여쓰기

In [13]:
x = 9

if x == 10:
  print('x값은')
  print('10입니다.')
print('언제나 출력됩니다.')

언제나 출력됩니다.

## 13.3 중첩 if 조건문

In [14]:
x=15
if x > 10:
  print('10보다 큰 숫자입니다')
  if x == 15:
    print('15입니다.')
  if x ==20:
    print('20입니다')

10보다 큰 숫자입니다
15입니다.

In [16]:
x= int(input('정수를 입력하세요>'))
if x > 10:
  print('10보다 큰 숫자입니다')
  if x == 15:
    print('15입니다.')
  if x ==20:
    print('20입니다')

정수를 입력하세요>16
10보다 큰 숫자입니다