#Unit 14. else

In [ ]:
x = 1
if x == 10:
  print('It is 10.')
else:
  print('It is not 10.')

It is not 10.

## 3항 연산자

- Java, Js: a
 = (조건)? 참일때의 값 : 거짓일때의 값

 -파이썬: a= 참일 때의 값 if 조건 else 거짓일 때의 값

In [ ]:
x = 1
if x % 2 == 0:
  y = 'even'
else:
  y = 'odd'
y

'odd'

In [ ]:
y = 'even' if x%2 == 0 else 'odd'
y

'odd'

### 중첩 if문

In [ ]:
# 90점 이상이면 'A', 80~89:B, 70~79:C, 60~69: D, ~59:F
score = int(input('점수입력'))

점수입력82

In [ ]:
if score >= 90:
    grade = 'A'
else:
  if score >= 80:
     grade = 'B'
  else:
      if score >=70:
         grade = 'C'
      else:
        if score >= 60:
            grade = 'D'
        else:
            grade = 'F'
print(grade)

B

In [ ]:
grade = 'A' if score >= 90 else \
            'B' if score >= 80 else \
                'C' if score >= 70 else \
                    'D' if score >= 60 else 'F'
grade

'B'

### 조건식에서의 논리연산자

In [ ]:
x = 5
if x > 0 and x <10:
  print('10보다 작은 양의 정수입니다.')

10보다 작은 양의 정수입니다.

In [ ]:
if 0 < x <10 :
  print('10보다 작은 양의 정수입니다.')

10보다 작은 양의 정수입니다.